<?xml version="1.0" encoding="utf-8"?>
<packages>

	<group category="Браузеры">
		<package id="firefox" name="Firefox"/>
		<package id="microsoft-edge" name="Microsoft Edge"/>
		<package id="googlechrome" name="Google Chrome"/>
		<package id="opera" name="Opera"/>
		<package id="yandex-browser" name="Yandex Browser"/>
	</group>

	<group category="Разработка и программирование">
		<package id="python" name="Python"/>
		<package id="vscode" name="Visual Studio Code"/>
		<package id="git" name="Git"/>
		<package id="github-desktop" name="GitHub Desktop"/>
		<package id="cmake" name="CMake"/>
		<package id="nodejs" name="Node.js"/>
		<package id="autohotkey" name="AutoHotkey"/>
		<package id="openssh" name="OpenSSH"/>
		<package id="javaruntime" name="Java Runtime Environment"/>
		<package id="notepadplusplus" name="Notepad++"/>
		<package id="dotnet-sdk" name="Microsoft .NET SDK"/>
	</group>

	<group category="Архиваторы и утилиты">
		<package id="7zip" name="7-Zip"/>
		<package id="winrar" name="WinRAR"/>
		<package id="ccleaner" name="CCleaner"/>
		<package id="wget" name="GNU Wget"/>
		<package id="putty" name="PuTTY"/>
		<package id="winscp" name="WinSCP"/>
		<package id="everything" name="Everything"/>
		<package id="wiztree" name="WizTree"/>
		<package id="totalcommander" name="Total Commander"/>
		<package id="crystaldiskinfo" name="CrystalDiskInfo"/>
		<package id="virtualbox" name="VirtualBox"/>
		<package id="openssl" name="OpenSSL"/>
		<package id="cpu-z" name="CPU-Z"/>
		<package id="hwmonitor" name="HWMonitor"/>
		<package id="aida64-extreme" name="AIDA64 Extreme"/>
		<package id="fpsmonitor" name="FPS Monitor"/>
		<package id="ntlite-free" name="NTLite (Free)"/>
		<package id="hxd" name="HxD"/>
	</group>

	<group category="Мультимедиа">
		<package id="vlc" name="VLC Media Player"/>
		<package id="paint.net" name="Paint.NET"/>
		<package id="audacity" name="Audacity"/>
		<package id="k-litecodecpackfull" name="K-Lite Codec Pack"/>
		<package id="aimp" name="AIMP"/>
		<package id="spotify" name="Spotify"/>
		<package id="inkscape" name="Inkscape"/>
		<package id="blender" name="Blender"/>
		<package id="qbittorrent" name="qBittorrent"/>
		<!-- <package id="steam" name="Steam (Checksumm ERROR)"/> -->
	</group>

	<group category="Офисные программы">
		<package id="libreoffice-fresh" name="LibreOffice"/>
	</group>

	<group category="Облако и удалённый доступ">
		<package id="googledrive" name="Google Drive"/>
		<package id="megasync" name="Mega.nz"/>
		<package id="anydesk.install" name="AnyDesk"/>
	</group>

	<group category="Социальные сети и мессенджеры">
		<package id="telegram" name="Telegram"/>
		<package id="discord" name="Discord"/>
		<package id="skype" name="Skype"/>
	</group>

	<group category="Антивирусы и тесты скорости">
		<package id="kvrt" name="Kaspersky Virus Removal Tool"/>
		<package id="speedtest" name="Speedtest"/>
		<package id="powertoys" name="PowerToys"/>
	</group>

	<group category="Разные библиотеки">
		<package id="directx" name="DirectX"/>
		<package id="vcredist-all" name="Visual C++ Redistributable"/>
		<package id="nvidia-display-driver" name="NVidia Display Driver"/>
	</group>

</packages>
